<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col" *ngFor="let room of rooms;">{{room}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="first" *ngFor="let t of time; let i=index;" scope=" rowfirst">{{9+i}}-{{10+i}}
                <td (click)="clickMe()" [ngStyle]="{'background-color': color}"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>