/* You can add global styles to this file, and also import other style files */

* {
    cursor: pointer;
}

.body {
    display: flex;
    align-items: center;
}

.table {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    width: 80%;
}

tr.active td {
    background-color: #123456 !important;
    color: white;
}

.first {
    background: whitesmoke;
}

.second {
    background: #3cb878;
    opacity: 0.8;
}