/* You can add global styles to this file, and also import other style files */

.body {
    display: flex;
    align-items: center;
}

.table {
    position: absolute;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    width: 80%;
}

.first {
    background: whitesmoke;
}

.second {
    background: #3cb878;
    opacity: 0.8;
}

.logOutButton {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background: #60061e;
    border: none;
    color: white;
    border-radius: 5px;
}

.logOutButton:hover{
    cursor: pointer;
    opacity: 0.8;
}

.userName {
    font-weight: bold;
    color: white;
    font-size: 25px;
}

.title{
    color: whitesmoke;
}